/* 21. shipping css here */

.shipping_inner{
    border-bottom: 1px solid $grey_color;
    padding: 60px 0;
    @media #{$tablet-device}{
      padding: 60px 0 35px;
    }
    @media #{$large-mobile}{
      padding: 60px 0 35px;
    }
}

.single_shipping{
    border-right: 1px solid $grey_color;
    display: flex;
    align-items: center;
    @media #{$tablet-device}{
      margin-bottom: 25px;
    }
    @media #{$large-mobile}{
        margin-bottom: 25px;
        border-right: 0;
    }
    &:hover{
        & .shipping_icone{
            background: $secondary_color;
            border-color: $secondary_color;
            & i{
                color: #333;
            }
        }
    }
    &.col4{
        border-right: 0;
    }
    &.col2{
       @media #{$tablet-device}{
         border-right: 0;
        }
    }
}
.shipping_icone{
    height: 50px;
    width: 50px;
    line-height: 48px;
    border: 1px solid #ededed;
    border-radius: 100%;
    text-align: center;
    transition: .3s;
    margin-right: 11px;
    @media #{$desktop-device}{
       height: 39px;
        width: 39px;
        line-height: 39px;
        margin-right: 7px;
    }
    & i{
        font-size: 20px;
        line-height: 48px;
        display: block;
        transition: .3s;
        color:  $secondary_color;
        @media #{$desktop-device}{
            font-size: 17px;
            line-height: 38px;
        }
    }
}
.shipping_content{
    & h3{
        font-size: 14px;
        line-height: 20px;
        text-transform: capitalize;
        font-weight: 700;
        margin-bottom: 4px;
        font-family: $open-sans;
        @media #{$desktop-device}{
           font-size: 13px;
        }
    }
}




/*home three css here*/
.shipping_three{
    & .shipping_inner{
        border-bottom: 0;
    }
}














