
@page {
    margin: 100px 25px;
}


.table {

    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
}

.table th {
    /* height: 5px !important; */
    /*  border: 1px #000 solid !important; */
    padding: 2px !important;
    font-size: 14px;
    /*  text-align:center; */
}

.table td {
    /*  height: 5px !important; */
    /*  border: 1px #000 solid !important; */
    font-size: 12px;
    padding: 2px !important;
}


.footer-table td {
    font-size: 12px;
}

.companydes p {
    line-height: .5;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.report-head {
    border-bottom: 2px #000 solid;
    border-top: 2px #000 solid;


}

header {
    /*   position: fixed; */
    left: 0px;
    right: 0px;
}

footer {
    position: fixed;
    bottom: -60px;
    left: 0px;
    right: 0px;
    border-top: 1px #000 solid;

}

footer p {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    padding: 0px;

}

address {
    font-size: 12px;
}

.Info-Table td {
    border: none;
    box-shadow: none;
}

.table {
    margin: 0px;
}
